<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Catalogue</title>
    <link
        rel="stylesheet"
        href="../static/css/main.css"
    />
</head>

<body>
  {% include 'navbar.html' %}
  <div id="content-2">
            <header id="header">
              Podcast Catalogue
              <div class="copyright">&copy; bsan361 |  arav428 | xye804 | nkaw981 </div>
            </header>
            <main id="main">
                <div id="podcast">
                    <ul>
                      {% for podcast in podcasts %}
                        <li>
                            <a href="{{ url_for('show_description', podcast_id=loop.index0) }}">
                                <div class="podcast-list">
                                    <img src="{{ podcast.img_url }}" alt="Podcast Logo">
                                    <span>{{ podcast.title }}</span>
                                </div>
                            </a>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </main>
  </div>
</body>
</html>