<!DOCTYPE html>
<html>
  <head>
    <title>Podcast Catalogue</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="content">
      <div class="heading">Podcast Catalogue</div>
      <p>&copy ilin908</p>
      <hr />
      <div class="catalogue-container">
        <h2>Available Podcasts</h2>
        <ul class="podcast-list">
          {% for podcast in podcasts %}
          <li>
            <a href="{{ url_for('show_description', podcast_id=loop.index0) }}">
              <div class="podcast-list">
                <img src="{{ podcast.img_url }}" alt="Podcast Logo" />
                <span>{{ podcast.title }}</span>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
