<!DOCTYPE html>
<html>

<head>
    <title>CS235 Podcast Library</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content">
        <div class="heading">CS235 Podcast Library</div>
        <p>&copy ilin908</p>
        <hr>
        <div class="search-container">
              <input type="text" placeholder="Input podcast name.." name="search">
              <button type="submit">Search</button>
            </form>
        </div>
    </div>
</body>

</html>