<!DOCTYPE html>
<html>
  <head>
    <title>Podcast Description</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="content">
      <div class="heading">{{ podcast.title }}</div>
      <p>&copy ilin908</p>
      <hr />
      <div class="podcast-details">
        <div class="detail-row">
          <p>
            <b><i>Author: </i></b> {{ podcast.author }}
          </p>
          <p>
            <b><i>Language: </i></b> {{ podcast.language }}
          </p>
          <p>
            <b><i>About: </i></b> {{ podcast.about }}
          </p>
          <p>
            <b><i>Categories: </i></b> {{ podcast.categories }}
          </p>
          <p>
            <b><i>Website: </i></b> {{ podcast.website }}
          </p>
          <p>
            <b><i>iTunes ID: </i></b> {{ podcast.itunes_id }}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
